* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%; /* Make sure body and html take full height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  scroll-behavior: smooth;
}

header {
  position: sticky;
  background-color: rgb(14, 107, 84); /* Background image */
  background: rgba(19, 145, 113, 0.4);
  background-size: cover;
  background-position: center;
  font-family: "Lora", serif;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}
header a:hover {
  color: #ecc74b;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
}
li {
  list-style-type: none; /* Removes the bullet (dot) */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Footer Styles */
.footer {
  background-color: rgb(14, 107, 84); /* Background image */
  background: rgba(19, 145, 113, 0.4);
  color: #fff; /* White text */

  font-family: Arial, sans-serif;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.footer-social ul li {
  display: inline-flex;
  margin-left: 50px;
  margin-top: 1rem;
  position: relative;
  left: 490px;
}

.footer-social ul li a {
  color: #fff;
  transition: color 0.3s ease;
}

.footer-social ul li a:hover {
  color: #ecc74b; /* Add a highlight color on hover (e.g., tomato red) */
}

img {
  width: 80%;
  height: auto;
}

html {
  background-image: url(img/texturebckgrnd.jpg);
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}
.logo img {
  max-width: 55%;
  margin-left: -150px;
}
.logo {
  position: relative;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/*burger*/

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -1rem;
}

.menu li {
  margin-right: 30px;
}

.menu a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  right: 70px;
  text-transform: uppercase;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 10px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
h1 {
  color: rgba(0, 0, 0, 0.555);

  font-family: "Lora", serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
section h2 {
  padding: 30px 60px;
  font-size: 50px;
  color: antiquewhite;
  font-family: "Lora", serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
h3 {
  font-family: "Lora", serif;
  color: antiquewhite;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
hr {
  width: 85%;
  margin: 10px auto;
  color: antiquewhite;
}
p {
  font-family: "Lora", serif;
  color: white;
  font-size: 22px;
  padding: 35px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
/*skills*/
.icons {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.adobe {
  width: 50%;
  grid-column: 1 / 2;
  position: relative;
  left: 50px;
  top: 30px;
}
.html {
  grid-column: 2 / 3;
}
.css {
  grid-column: 3 / 4;
}
.js {
  grid-column: 4 / 5;
}
.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(19, 145, 113);
  margin-top: 2rem;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.image-container {
  position: relative;
  grid-column: 2;
  grid-row: 1;
}

.portraitbw:hover {
  opacity: 0; /* Change opacity on hover */
}
.portfolio {
  height: 200vh;
  width: 90vw;
  place-self: center;
  background-color: rgb(19, 145, 113, 0.6);
  margin-bottom: -2rem;
  border-radius: 50px;
  margin-top: 2rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}
.portfolio:hover {
  background-color: rgb(19, 145, 113);
  transition: 0.3s ease-in-out;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 90px;
  row-gap: 40px;
  grid-gap: 20px;
}

.container img {
  object-fit: cover;
  border: 2mm solid antiquewhite;
  margin-left: 3.5rem;
}

.blue-cafe {
  background-color: #384896;
  padding-top: 90px;
  padding-bottom: 90px;
}
.computer {
  max-height: 100%;
  margin-bottom: -5rem;
}
.emnesite {
  max-height: 100%;
  margin-bottom: -1rem;
}
.spil {
  max-height: 100%;
  margin-bottom: -2rem;
}
.moi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(250, 235, 215);
  margin-top: 3rem;

  place-self: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  margin-bottom: 3rem;
}

.moi h2 {
  color: rgba(0, 0, 0, 0.555);
}
.moi p {
  color: rgba(0, 0, 0, 0.555);
}
.moi h3 {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.555);
}
.moi img {
  grid-row: 1;
  grid-column: 1;
  width: 90%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}
.cv {
  grid-row: 2;
  grid-column: 1;
}
.cv-billede {
  grid-column: 2;
  grid-row: 1;
  margin-top: 6rem;
}
.navn {
  grid-row: 1;
  grid-column: 1;
}
.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.card {
  padding: 0 20px;
  margin: 0 10px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card i {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px; /* Set size for the icons */
  height: 60px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease, transform 0.3s ease, width 0.3s ease, height 0.3s ease, filter 0.3s ease;
}

/* Set the icons based on their respective class names */
.card .email {
  background-image: url("img/email.svg");
}

.card .phone {
  background-image: url("img/phone.svg");
}

.card .address {
  background-image: url("img/address.svg");
}

/* On hover, show the icon and scale it */
.card:hover i {
  opacity: 1;
  transform: translateX(-50%) scale(0.6); /* Scale down the icon */
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.4));
}

.card p {
  margin-top: 20px;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.8));
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p {
  max-height: 40px;
  opacity: 1;
}
.denmark {
  margin-left: 2rem;
}
@media screen and (min-width: 800px) {
  .portfolio {
    height: 230vh;
  }
  .container {
    row-gap: 80px;
  }
  .cv-billede {
    padding: 40px;
  }
  .cv {
    height: 145vh;
  }
  .cv h1 {
    position: relative;
    left: 550px;
    font-size: 2.8rem;
    margin-top: 3rem;
  }

  .cv h2 {
    position: relative;
    left: 435px;
    place-self: end center;
  }

  .cv h3 {
    position: relative;
    left: 550px;
  }
  .date {
    margin-left: 2rem;
  }

  .cv p {
    font-size: 1.1rem;
    place-self: end center;
    margin-right: -45rem;
  }
  .proficiencies {
    margin-top: 20px;
  }

  .moi {
    width: 80vw;
  }
  .moi h2 {
    margin-left: -6rem;
  }
  .moi p {
    padding: 30px;
    margin-left: -8rem;
  }
  .moi h3 {
    padding: 30px 60px;
  }
  .moi img {
    width: 45%;
    margin-left: 8rem;
    margin-top: 5rem;
  }
  .sections-together {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-me {
    margin-top: 4rem;
    margin-left: 4.5rem;
    width: 57vw;
  }

  .portrait {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    width: 60%;
    height: auto;
    left: 120px;
  }
  .portraitbw {
    position: absolute;
    left: 70px;
    top: 130px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease; /* Smooth transition */
    width: 78%;
    height: auto;
  }
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(19, 145, 113);
    height: 70vh;
    width: 30vw;
    margin-top: 4rem;
    margin-left: 2rem;
    border-radius: 50px;
  }

  .icons hr {
    display: none;
  }
  .adobe {
    width: 60%;
    margin-left: 1.5rem;
  }
  .html {
    width: 65%;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
  }
  .css {
    width: 68%;
    grid-column: 1;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .js {
    width: 110%;
    grid-column: 2;
    position: relative;
    bottom: 2rem;
    right: 2rem;
  }
  .text3 {
    margin-left: -3rem;
    margin-top: 5rem;
  }
  .text3 h3 {
    margin-left: 4rem;
  }
  .text2 {
    margin-right: -3rem;
    margin-top: 4rem;
  }
  .text2 h3 {
    margin-left: 30rem;
  }
  .text1 {
    margin-left: -3rem;
    margin-top: 5rem;
  }
  .text1 h3 {
    margin-left: 4rem;
  }
  .text4 {
    margin-right: -3rem;
    margin-top: 5rem;
  }
  .text4 h3 {
    margin-left: 28rem;
  }

  .blue-cafe {
    height: 105%;
    grid-row: 4;
    grid-column: 2 / span 1;
  }
  .computer {
    height: 95%;
    margin-bottom: -5rem;
  }
  .emnesite {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }
  .spil {
    height: 95%;
    grid-row: 3;
    grid-column: 1 / span 1;
  }
}
.contact {
  place-self: center;
  background-color: rgb(19, 145, 113);
  margin-bottom: 2rem;
  border-radius: 50px;
  margin-top: 4rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 800px) {
  .contact {
    width: 87vw;
  }
  .cv {
    height: 120vh;
  }
  .cv h1 {
    font-size: 2.2rem;
    position: relative;
    left: 180px;
    margin-top: 3rem;
  }

  .cv h2 {
    font-size: 1.5rem;
    position: relative;
    left: 215px;
  }

  .cv h3 {
    font-size: 1.2rem;
    position: relative;
    left: 190px;
    padding: 5px;
  }
  .date {
    margin-left: 2rem;
  }

  .cv p {
    font-size: 1rem;
    position: relative;
    left: 170px;
    place-self: revert;
  }
  .proficiencies {
    margin-left: -1rem;
  }

  .moi {
    width: 90vw;
    height: 250vh;
  }

  .moi img {
    margin-top: 5rem;
    width: 90%;
    margin-left: 2rem;
  }
  .moi p {
    padding-left: 35px;
  }

  .navn {
    margin-left: 3rem;
    margin-top: 1.5rem;
  }
  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85vw;

    place-self: center;
    background-color: rgb(19, 145, 113);
    margin-top: 2rem;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  }
  .about-me h2 {
    font-size: 49px;
  }

  p {
    font-size: 17px;
    margin-top: -1.5rem;
  }

  .image-container {
    width: 100%; /* Make the image container take full width */
  }

  .portrait {
    width: 82%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .portraitbw {
    position: absolute; /* Keep the overlay */
    right: 40px;
    bottom: 200px;
    width: 95%; /* Reduce size of the top image for mobile */
    transition: opacity 0.3s ease; /* Smooth transition */
  }

  .icons hr {
    position: relative;
    top: 100px;
    height: 1px;
    background-color: antiquewhite;
    width: 400%;
    margin-left: -10rem;
  }
  .icons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    background-color: rgb(19, 145, 113);
    height: 40vh;
    width: 85vw;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    border-radius: 50px;
  }
  .container {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr;
    height: 50vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 20px;
    transition: padding-left 0.3s ease, overflow 0.3s ease;
  }
  .container:hover {
    overflow-x: hidden;
    scrollbar-color: rgb(14, 107, 84) antiquewhite;
    scrollbar-width: thin;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  .container img {
    margin-left: 2.5rem;
  }
  .container p {
    margin-left: 1.5rem;
  }
  .container h3 {
    place-self: center;
  }
  .adobe {
    margin-top: 0.3rem;
  }

  .html {
    width: 110%;
    grid-column: 2 / 3;
    position: relative;
    right: 65px;
    top: 15px;
  }
  .css {
    width: 110%;
    grid-column: 3 / 4;
    position: relative;
    right: 60px;
    top: 15px;
  }
  .js {
    width: 180%;
    grid-column: 4 / 5;
    position: relative;
    right: 100px;
    bottom: 2rem;
  }
  .portfolio {
    width: 85vw;
    max-height: 80vh;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(19, 145, 113, 0.9);
    z-index: 100;
  }
  .burger {
    display: block;
    margin-right: 2rem;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: flex;
    background-color: rgb(19, 145, 113, 0.7);

    top: 200px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  nav.active .menu li {
    margin: 10px 20px;
    margin-left: 30rem;
  }

  nav.active .menu a {
    font-size: 25px;
    text-transform: uppercase;
  }

  .about-me,
  .portfolio,
  .icons,
  .contact,
  .moi,
  .footer .footer-content {
    transition: transform 0.3s ease;
  }

  .about-me.active,
  .portfolio.active,
  .icons.active,
  .contact.active,
  .moi.active,
  .footer .active,
  .footer-content.active {
    transform: translateY(230px);
  }

  .logo {
    left: 230px;
    top: 20px;
    width: 50%;
  }

  html {
    background-size: 200%;
  }
  .footer-social ul li {
    position: relative;
    left: 210px;
  }
}
@media screen and (max-width: 600px) {
  nav.active .menu li {
    margin-left: 25rem;
  }
  .adobe {
    width: 36%;
    margin-left: 0.5rem;
    margin-top: -0.1rem;
  }

  .html {
    width: 120%;
    right: 95px;
  }
  .css {
    width: 120%;
    right: 85px;
    top: 15px;
  }
  .js {
    width: 200%;
    top: -26px;
    right: 115px;
  }
  .icons hr {
    width: 480%;
  }
  nav.active .menu {
    top: 150px;
  }

  nav.active .menu li {
    margin: 10px 20px;
    margin-left: 23rem;
  }

  .portrait {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .portraitbw {
    left: -25px;
    bottom: 350px;
    width: 100%; /* Reduce size of the top image for mobile */
  }
  p {
    font-size: 15px;
  }
  .about-me h2 {
    font-size: 40px;
  }

  .icons {
    margin-left: 2rem;
  }
  .footer-social ul li {
    position: relative;
    left: 140px;
  }
  .logo {
    margin-left: -1rem;
  }
  .moi h2 {
    font-size: 1.5rem;
  }
  .moi p {
    font-size: 0.7rem;
  }
  .moi img {
    margin-top: 8rem;
  }
  .cv h1 {
    font-size: 1.7rem;
    left: 130px;
  }

  .cv h2 {
    font-size: 1.3rem;
    left: 140px;
  }

  .cv h3 {
    font-size: 0.8rem;
    left: 155px;
  }
  .date {
    margin-left: 1.5rem;
  }

  .cv p {
    font-size: 0.9rem;
    left: 140px;
  }
}
