* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}
header {
  position: relative;
  background-color: rgb(14, 107, 84); /* Background image */
  background: rgba(19, 145, 113, 0.4);
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  animation: fadeIn 2s ease-in-out;
  margin-top: -5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
a {
  text-decoration: none;
}

html {
  background-image: url(img/texturebckgrnd.jpg);
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
  background-size: 120% auto;
}
/*burger*/
.logo img {
  max-width: 55%;
  margin-left: -150px;
}
.logo {
  position: relative;
  bottom: -3rem;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  list-style: none;
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
  top: 4rem;
  left: -4rem;
  box-shadow: 1px 0px 0px 1px;
  border-radius: 10%;
  background-color: rgb(14, 107, 84);
  padding: 0.3rem 0.5rem;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 10px;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    margin-bottom: -4rem;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    position: absolute;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
  .logo img {
    max-width: 50%;
  }
  .logo {
    left: 200px;
  }
  html {
    background-size: 160%;
  }
}
