* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%; /* Make sure body and html take full height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
  position: sticky;
  background-color: rgb(14, 107, 84); /* Background image */
  background: rgba(19, 145, 113, 0.4);
  background-size: cover;
  background-position: center;
  font-family: "Lora", serif;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}
header a:hover {
  color: #ecc74b;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

img {
  width: 80%;
  height: auto;
}

html {
  background-image: url(img/texturebckgrnd.jpg);
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}
.logo img {
  max-width: 55%;
  margin-left: -150px;
}
.logo {
  position: relative;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/*burger*/

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -1rem;
}

.menu li {
  margin-right: 30px;
}

.menu a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  right: 70px;
  text-transform: uppercase;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 10px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
section h2 {
  padding: 30px 60px;
  font-size: 50px;
  color: antiquewhite;
  font-family: "Lora", serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
h3 {
  font-family: "Lora", serif;
  color: antiquewhite;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
hr {
  width: 85%;
  margin: 10px auto;
  color: antiquewhite;
}
p {
  font-family: "Lora", serif;
  color: white;
  font-size: 22px;
  padding: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
/*skills*/
.icons {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.adobe {
  width: 50%;
  grid-column: 1 / 2;
  position: relative;
  left: 50px;
  top: 30px;
}
.html {
  grid-column: 2 / 3;
}
.css {
  grid-column: 3 / 4;
}
.js {
  grid-column: 4 / 5;
}
.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(19, 145, 113);
  margin-top: 2rem;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.image-container {
  position: relative;
  grid-column: 2;
  grid-row: 1;
}

.portraitbw:hover {
  opacity: 0; /* Change opacity on hover */
}
.portfolio {
  height: 200vh;
  width: 90vw;
  place-self: center;
  background-color: rgb(19, 145, 113, 0.6);
  margin-bottom: -2rem;
  border-radius: 50px;
  margin-top: 2rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}
.portfolio:hover {
  background-color: rgb(19, 145, 113);
  transition: 0.3s ease-in-out;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 90px;
  row-gap: 40px;
  grid-gap: 20px;
}

.container img {
  object-fit: cover;
  border: 2mm solid antiquewhite;
  margin-left: 3.5rem;
}

.blue-cafe {
  background-color: #384896;
  padding-top: 90px;
  padding-bottom: 90px;
}
.computer {
  max-height: 100%;
  margin-bottom: -5rem;
}
.emnesite {
  max-height: 100%;
  margin-bottom: -1rem;
}
.spil {
  max-height: 100%;
  margin-bottom: -2rem;
}

@media screen and (min-width: 800px) {
  .sections-together {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-me {
    margin-top: 4rem;
    margin-left: 4.5rem;
    width: 57vw;
  }
  .om-mig {
    margin-left: 2.5rem;
    margin-top: 4rem;
  }
  .portrait {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    width: 60%;
    height: auto;
    left: 120px;
  }
  .portraitbw {
    position: absolute;
    left: 70px;
    top: 130px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease; /* Smooth transition */
    width: 78%;
    height: auto;
  }
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(19, 145, 113);
    height: 70vh;
    width: 30vw;
    margin-top: 4rem;
    margin-left: 2rem;
    border-radius: 50px;
  }

  .icons hr {
    display: none;
  }
  .adobe {
    width: 60%;
    margin-left: 1.5rem;
  }
  .html {
    width: 65%;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
  }
  .css {
    width: 68%;
    grid-column: 1;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .js {
    width: 110%;
    grid-column: 2;
    position: relative;
    bottom: 2rem;
    right: 2rem;
  }
  .text3 {
    margin-left: -3rem;
    margin-top: 5rem;
  }
  .text2 {
    margin-right: -3rem;
    margin-top: 4rem;
  }
  .text1 {
    margin-left: -3rem;
    margin-top: 5rem;
  }
  .text4 {
    margin-right: -3rem;
    margin-top: 5rem;
  }

  .blue-cafe {
    height: 105%;
    grid-row: 4;
    grid-column: 2 / span 1;
  }
  .computer {
    height: 95%;
    margin-bottom: -5rem;
  }
  .emnesite {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }
  .spil {
    height: 95%;
    grid-row: 3;
    grid-column: 1 / span 1;
  }
}

@media screen and (max-width: 800px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85vw;

    place-self: center;
    background-color: rgb(19, 145, 113);
    margin-top: 2rem;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  }
  .about-me h2 {
    font-size: 49px;
  }

  p {
    font-size: 17px;
  }

  .image-container {
    width: 100%; /* Make the image container take full width */
  }

  .portrait {
    width: 82%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .portraitbw {
    position: absolute; /* Keep the overlay */
    right: 40px;
    bottom: 100px;
    width: 95%; /* Reduce size of the top image for mobile */
    transition: opacity 0.3s ease; /* Smooth transition */
  }

  .om-mig {
    padding: 27px;
    position: relative;
    bottom: 30px;
  }
  .icons hr {
    position: relative;
    top: 100px;
    height: 1px;
    background-color: antiquewhite;
    width: 400%;
    margin-left: -10rem;
  }
  .icons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    background-color: rgb(19, 145, 113);
    height: 40vh;
    width: 85vw;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    border-radius: 50px;
  }
  .container {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr;
    height: 50vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 20px;
    transition: padding-left 0.3s ease, overflow 0.3s ease;
  }
  .container:hover {
    overflow-x: hidden;
    scrollbar-color: rgb(14, 107, 84) antiquewhite;
    scrollbar-width: thin;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  .container img {
    margin-left: 2.5rem;
  }
  .container p {
    margin-left: 1.5rem;
  }
  h3 {
    place-self: center;
  }
  .adobe {
    margin-top: 0.3rem;
  }

  .html {
    width: 110%;
    grid-column: 2 / 3;
    position: relative;
    right: 65px;
    top: 15px;
  }
  .css {
    width: 110%;
    grid-column: 3 / 4;
    position: relative;
    right: 60px;
    top: 15px;
  }
  .js {
    width: 180%;
    grid-column: 4 / 5;
    position: relative;
    right: 100px;
    bottom: 2rem;
  }
  .portfolio {
    width: 85vw;
    max-height: 80vh;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(19, 145, 113, 0.9);
    z-index: 100;
  }
  .burger {
    display: block;
    margin-right: 2rem;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: flex;
    background-color: rgb(19, 145, 113, 0.7);

    top: 200px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  nav.active .menu li {
    margin: 10px 20px;
    margin-left: 30rem;
  }

  nav.active .menu a {
    font-size: 25px;
    text-transform: uppercase;
  }

  .about-me,
  .portfolio,
  .icons {
    transition: transform 0.3s ease;
  }

  .about-me.active,
  .portfolio.active,
  .icons.active {
    transform: translateY(230px);
  }

  .logo {
    left: 230px;
    top: 20px;
    width: 50%;
  }

  html {
    background-size: 200%;
  }
}
@media screen and (max-width: 600px) {
  nav.active .menu li {
    margin-left: 25rem;
  }
}
